
.container__small-card {
   padding: 10px;
}

.container__small-card > a {
   display: flex;
   flex-direction: row;
   margin-bottom: 10px;

   align-items: center;
}

.image__small-card > img {
   width: 180px;
}

.title__small-card {
   margin-left: 10px;
}
