.container_Content {
   width: 100%;
   height: 100vh;

   display: flex;
   flex-direction: column;
   align-items: center;
}
.container_Content > hr {
   width: 80%;
   margin-bottom: 15px;
}

.return{
   margin-left: 10%;
}

.content_couver > img {
   width: 100%;
   max-width: 600px;
   min-width: 500px;
   margin-top: 15px;

}

.description{
   justify-self: center;
   width: 80%;
}

.description > p {
   color: gray;
   margin-bottom: 200px;

}


.title {
   text-align: center;
   justify-self: center;
   width: 80%;
   margin-bottom: 20px;
}
