<div class="container_home">
   <div class="container_title">
      <hr />
      <h1>Rafael Blog</h1>
      <hr />
   </div>
   <div class="articles">
      <div class="articles_main">
         <app-big-card [id]="mainCard.id" [cardTitle]="mainCard.title" [cardDescription]="mainCard.description"
            [photoCover]="mainCard.imageURL" />
      </div>
      <div class="articles_outhers">
         <app-smal-card *ngFor="let smallCard of otherCards"
            [id]="smallCard.id"
            [Title]="smallCard.title"
            [imageURL]="smallCard.imageURL">
         </app-smal-card>

      </div>
   </div>
