
.container_home{
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 100%;
   overflow-x: hidden;
}

.mainNews{
   width: 80%;
   word-wrap: break-word;
   overflow-x: hidden;
}

.outherNews{
   width: 80%;
   word-wrap: break-word;
   overflow-x: hidden;
}


