<div class="item-container">
   <div class="items" *ngFor="let item of paginatedItems">
      <a [routerLink]="['notice', item.id]">
         <div class="item">
            <img src="{{item.imageURL}}" alt="imageLote">
            <h3 class="title">{{ item.title }}</h3>
            <p class="description">{{item.description}}</p>
         </div>
      </a>
   </div>
</div>

<!-- Controles de navegação -->
<div class="pagination-controls">
   <button  (click)="prevPage()" [disabled]="currentPage === 0">Anterior</button>
   <button (click)="nextPage()" [disabled]="(currentPage + 1) * itemsPerPage >= articles.length">Próximo</button>
</div>
