.items{
   margin-top: 15px;
   margin-right: 56px;
}

.item{
   display: flex;
   flex-direction: column;
}

.item > img{
   height: 150px;
   box-shadow: 5px 8px gray;
}
.item > img:active{
   position: relative;
   top: 2px;
}

.title{
   margin-top: 10px;
   font-size: 25px;
}
.description{
   color: #5c5a5a;
}

.item-container{
   display: flex;
   flex-direction: row;
   justify-content: baseline;
   overflow-x: auto;
}

.pagination-controls{
   margin-top: 15px;
   margin-bottom: 25px;
}
.pagination-controls > button{
   margin-right: 10px;
   padding: 2px;
   border: 0px;
}

.pagination-controls > button:active{
   position: relative;
   top: 2px;
}


